.home .theme-section #theme-stage .theme-mini-static {
    display: block;
    width: 90%;
    margin: 5% 0 0 5%;
}

@media only screen and (max-width: 601px){
    .home .theme-section #theme-stage .theme-mini-static {
    display: block;
    width: 94%;
    margin: 7% 0 0 17%;
}
}

@media only screen and (max-width: 601px) {
    .flower-fun-theme .scroll-panel.theme-section {
	 	min-height: 450px;
	}
}
@media only screen and (max-width: 500px) {
    .flower-fun-theme .scroll-panel.theme-section {
	 	min-height: 450px;
	}
}
@media only screen and (max-width: 480px) {
    .flower-fun-theme .scroll-panel.theme-section {
	 	min-height: 450px;
	}
}

@media only screen and (min-width: 602px) and (max-height: 1050px) {
    .flower-fun-theme .scroll-panel.theme-section {
	 	min-height: 794px;
	}
}
@media only screen and (min-width: 602px) and (max-height: 888px) {
    .flower-fun-theme .scroll-panel.theme-section {
	 	min-height: 710px;
	}
}
@media only screen and (min-width: 602px) and (max-height: 700px) {
      .flower-fun-theme .scroll-panel.theme-section {
	 	min-height: 550px;
	}  
}
